@tailwind base;
@tailwind components;
@tailwind utilities;

.container-custom{
  width:70%;
  margin: 0 auto;
}

.container-custom2{
  width:50%;
  margin: 0 auto;
  margin-top:150px;
}

@media (max-width: 1175px){
  #container-reviews{
    flex-direction: column;
  }
  #card-reviews{
    width:100%;
  }
}
@media (max-width: 1024px){
  #responsive-navbar{
    display:none;
  }
}

@media (min-width: 1024px){
  .responsive-menu-icon{
    display:none;
  }
}

@media (max-width: 790px){
  #car-item-responsive{
    margin-top:40px;
    flex-direction: column;
  }

  #sidebar-responsive{
    width:100%;
    margin-bottom:40px;

  }

  #explanation-responsive{
    flex-direction: column;
  }
  #title-explanation{
    text-align: center;
  }
}

@media (max-width: 775px){
  #download-responsive{
    width:80%;
  }
}

@media (max-width: 755px){
  #aboutus-responsive{
    flex-direction: column;
  }

  #item-card{
    width:90%;
  }
}


@media (max-width: 675px){
  #footer-responsive{
    display:grid;
    margin-left:50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 40px;
  }

  #item-footer-responsive{
    width:60%;
  }

  .container-custom{
    width:100%;
  }

  .container-custom2{
    width:95%;
  }

  #center-text{
    align-self: center;
  }

  #hero-responsive{
    width:100%;
    gap:20px;
    margin: 0;
  }

  #image-hero-responsive{
    display:none
  }
  #hide-hero-responsive{
    display:none
  }
}

@media (max-width: 500px){
  #download-responsive-buttons{
    flex-direction: column;
    align-self: center;
  }
}
